* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Apply styles for larger screens */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 8px;
}

.logo-container {
  position: relative;
}

.logo-container img {
  height: auto; 
  max-width: 100%; 
}

nav {
  display: flex;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: white;
  border-radius: 10px;
  padding: 5px;
  transition: all 0.5s;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover {
  background-color: #679289;
}

/* Apply styles for smaller screens (mobile) */
@media screen and (max-width: 600px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  nav {
    margin-top: 10px;
  }

  nav a {
    margin: 5px 0;
    font-size: 0.5rem;
  }
}


.about-section{
  display: flex;
  flex-direction: row;
  margin-right: 2.5rem;
  padding-top: 7rem;
  padding-left: 7rem; /* 112px */
  padding-right: 7rem;
}
.about-heading{
  font-size: 3rem; /* 48px */ 
  line-height: 1;
  margin-top: 13rem;
  padding-top: 0.75rem;
  color: #285192;
}
.about-column{
  flex-direction: column;
}

.about-heading1{
  padding: 0.75rem;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
  transition-duration: 150ms;
  transition-delay: 150ms;
}

.about-heading1:hover{
  border-top-width: 4px;
  transform: translateY(0.25rem);
  transform: scale(1.1);
  background-color: rgb(99 102 241); 
}

@media screen and (max-width: 768px) {
  .about-section {
    padding: 1rem;
  }

  .about-heading {
    font-size: 1.5rem;
    margin-top: 1rem;
    }

  .about-column {
    margin-top: 1rem;
  }
}

.facilities {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: white;
  margin: 1.5rem;
  margin-left: 2rem;
  overflow: hidden;
}

.facilities-div {
  background-color: black;
  margin: 1.5rem;
  max-width: 25rem;
  border-radius: 0.5rem;
  text-align: center;
  flex: 1;
}

.card-1 {
  background: #CCCCCC;
  width: 100%;
}

.spa-img {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  width: 100%;
}

.card-text {
  color: black;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

@media screen and (max-width: 768px) {
  .facilities {
    margin: 1.5rem;
    margin-left: 0;
  }

  .facilities-div {
    margin: 1.5rem;
    flex-basis: calc(100% - 3rem);
    max-width: calc(100% - 3rem);
  }
}

.facility-heading{
  color: #285192;
  font-size: 3rem;
  line-height: 1;
}
.class-section{
  display: flex;
  flex-wrap: wrap;
  margin-left: 5rem;
}

.card{
    background:#5D2A42 ;
    height: auto;
    width: 20rem;
    max-width: 100%;
    background-color: #9F9D99;
    margin: 0 auto;
    /* box-shadow: 0 0 20px rgba(255 , 255 , 255 , 8.45); */
    border-radius: 10px; 
}
.card_profile_img{
    max-height: 100%;
    max-width: 100%;
    text-align: center;
    padding: 16px;
}
.card_profile_img>img{
    position: relative;
    height: 150px;
    max-width: 100%;
    max-height: 100%;
    width: 150px;
    border-radius: 100px;
    box-shadow:  0 25px 2rem rgba(0,0, 0, 0.15);
}
.card_content{
    padding: 16px;
    text-align: center;
    }
    .card_content>h3{
        font-family: Arial, Helvetica, sans-serif;
        color:#333;
        text-transform: uppercase;
        font-weight: 900;
    }
    .card_content>span{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.6rem;
        font-weight: 900;
        color: #c32a2a;
        text-transform: uppercase;

    }
    .card_content>p{
        text-align: justify;
        font-family: Arial, Helvetica, sans-serif;
        color:rgba(0,0, 0, 0.4) ;
    }
.body{
  background: black;
        
}
  
      .columns {
    float: left;
    width: 33.3%;
    padding: 8px 4px; /* Adjusted padding */
}

.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
}

.price .head {
    background-color: #111;
    color: white;
    font-size: 25px;
}

.price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
}

.price .grey {
    background-color: #eee;
    font-size: 20px;
}

.button {
    background-color: #737373;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}



